embedded/play_sound.json
[{"id":"1f33f6a9.17a489","type":"tab","label":"Play Sound","disabled":false,"info":""},{"id":"d0e1f997.403318","type":"http in","z":"1f33f6a9.17a489","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":156,"y":111,"wires":[["4610998.6261d68"]]},{"id":"4610998.6261d68","type":"template","z":"1f33f6a9.17a489","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Upload a file here:</h1>\n\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":336,"y":111,"wires":[["b63180c5.ac038"]]},{"id":"b63180c5.ac038","type":"http response","z":"1f33f6a9.17a489","name":"","statusCode":"","headers":{},"x":496,"y":111,"wires":[]},{"id":"9167ce46.dcd45","type":"http response","z":"1f33f6a9.17a489","name":"","statusCode":"","headers":{},"x":819,"y":230.99998474121094,"wires":[]},{"id":"8085a350.2776e","type":"debug","z":"1f33f6a9.17a489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","x":416,"y":171,"wires":[]},{"id":"fb1487d5.f2af88","type":"comment","z":"1f33f6a9.17a489","name":"Simple file upload example","info":"http://localhost:1880/upload","x":196,"y":71,"wires":[]},{"id":"cb350680.91e2b8","type":"http in","z":"1f33f6a9.17a489","name":"","url":"/play_sound","method":"post","upload":true,"swaggerDoc":"","x":176,"y":231,"wires":[["8085a350.2776e","46b2a819.7cdeb8"]]},{"id":"46b2a819.7cdeb8","type":"change","z":"1f33f6a9.17a489","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":426,"y":231,"wires":[["3b0e1c96.cd98e4","143bd683.6e0bc9","d082da78.e04758"]]},{"id":"3b0e1c96.cd98e4","type":"file","z":"1f33f6a9.17a489","name":"","filename":"to_read.mp3","appendNewline":false,"createDir":false,"overwriteFile":"true","x":416.10003662109375,"y":302,"wires":[["2124dcf7.427644"]]},{"id":"2124dcf7.427644","type":"play_audio_file","z":"1f33f6a9.17a489","filename":"to_read.mp3","x":848.5000114440918,"y":301.00000381469727,"wires":[[]]},{"id":"e7893aea.d3ae18","type":"play audio","z":"1f33f6a9.17a489","name":"","voice":"0","x":839.5,"y":379,"wires":[]},{"id":"143bd683.6e0bc9","type":"file","z":"1f33f6a9.17a489","name":"","filename":"to_read.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","x":414.5,"y":379,"wires":[["36809b21.5b7734"]]},{"id":"36809b21.5b7734","type":"file in","z":"1f33f6a9.17a489","name":"","filename":"to_read.wav","format":"","chunk":false,"sendError":false,"x":651.5,"y":379,"wires":[["e7893aea.d3ae18"]]},{"id":"d082da78.e04758","type":"function","z":"1f33f6a9.17a489","name":"","func":"msg.payload = msg.payload.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":634,"y":230.99998474121094,"wires":[["9167ce46.dcd45"]]}]