flows_node_red/flow_play_sound_file.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1561\cocoasubrtf600
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"403ba351.03c96c","type":"tab","label":"Play sound file","disabled":false,"info":""\},\{"id":"2e4d6532.92648a","type":"debug","z":"403ba351.03c96c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","x":488,"y":169,"wires":[]\},\{"id":"58942101.47472","type":"http in","z":"403ba351.03c96c","name":"","url":"/play_sound","method":"post","upload":true,"swaggerDoc":"","x":209,"y":313,"wires":[["2e4d6532.92648a","15405cc8.1d06b3"]]\},\{"id":"15405cc8.1d06b3","type":"change","z":"403ba351.03c96c","name":"","rules":[\{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":459,"y":313,"wires":[["189c14ab.7802eb"]]\},\{"id":"189c14ab.7802eb","type":"file","z":"403ba351.03c96c","name":"","filename":"to_read.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","x":668.5,"y":312,"wires":[["b6ac4177.2973a"]]\},\{"id":"b6ac4177.2973a","type":"exec","z":"403ba351.03c96c","command":"aplay -D bluealsa:DEV=FC:58:FA:12:01:62 to_read.wav","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":580.5,"y":477.5,"wires":[[],[],[]]\}]}