flows_node_red/light_sensor.json
[{"id":"ba172892.03dc08","type":"tab","label":"Light Sensor","disabled":false,"info":"# Light Sensor\n\n1. Get the light sensor (analog) **value**\n2. Calls the application if `value <= 10` or `value >= 900`\n3. The call sends an email from `ocs.frameplus@gmail.com` to `ocs.frameplus@gmail.com`"},{"id":"722a72f6.2d4cfc","type":"grove analog sensor","z":"ba172892.03dc08","name":"Grove Pi Light Sensor (analog)","pin":"1","sensor":"light","repeat":"1","board":"d5c19b77.da70c","x":257.00001525878906,"y":120.99998474121094,"wires":[["2d28a8ea.abb6b"]]},{"id":"2d28a8ea.abb6b","type":"function","z":"ba172892.03dc08","name":"Get Light Sensor Value","func":"msg.parts=1;\nmsg.payload=msg.payload.toString();\nmsg.topic=\"1\";\nmsg.value=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":207.7999725341797,"wires":[["e40e3aa3.8b7f6","1b487cbb.8b48d3"]]},{"id":"1b487cbb.8b48d3","type":"switch","z":"ba172892.03dc08","name":"Threshold","property":"value","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"},{"t":"gte","v":"900","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":538.7000274658203,"y":261.1999969482422,"wires":[["7dada605.3edcb"],["7dada605.3edcb"]]},{"id":"e40e3aa3.8b7f6","type":"debug","z":"ba172892.03dc08","name":"Print Light Sensor Value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"value","x":588,"y":148.40005493164062,"wires":[]},{"id":"dc7b3398.40aeb","type":"http request","z":"ba172892.03dc08","name":"Send alert","method":"GET","ret":"txt","url":"http://192.168.1.174:9090/camera_alarm","tls":"","x":533.5000610351562,"y":464.20001220703125,"wires":[["959c7a7b.f514f8"]]},{"id":"959c7a7b.f514f8","type":"debug","z":"ba172892.03dc08","name":"Send email HTTP response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580.5000610351562,"y":537.4000244140625,"wires":[]},{"id":"7dada605.3edcb","type":"delay","z":"ba172892.03dc08","name":"Message Rate Controller","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490.50001525878906,"y":336.40000915527344,"wires":[["959c7a7b.f514f8","9831e5b9.20b12"]]},{"id":"9831e5b9.20b12","type":"mqtt out","z":"ba172892.03dc08","name":"Publish ","topic":"sensors/light","qos":"0","retain":"false","broker":"a4a31673.6baa4","x":543.5,"y":400.60003662109375,"wires":[]},{"id":"d5c19b77.da70c","type":"board-config","z":"","board":"GrovePi"},{"id":"a4a31673.6baa4","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]