flows_node_red/light_sensor_old.json
[{"id":"f1a83e61.8753a","type":"tab","label":"Light Sensor (Old)","disabled":true,"info":""},{"id":"c1e160d3.581c68","type":"grove analog sensor","z":"f1a83e61.8753a","name":"","pin":"1","sensor":"light","repeat":"1","board":"d5c19b77.da70c","x":118.5,"y":600.9999847412109,"wires":[["a71a91f6.5f3c7"]]},{"id":"a71a91f6.5f3c7","type":"function","z":"f1a83e61.8753a","name":"","func":"msg.parts=1;\nmsg.payload=msg.payload.toString();\nmsg.topic=\"1\";\nmsg.value=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":311.5,"y":598.7999725341797,"wires":[["8d4dd308.12c6c8","2d419784.42a1a"]]},{"id":"2d419784.42a1a","type":"json","z":"f1a83e61.8753a","name":"","property":"payload","action":"","pretty":false,"x":476.5,"y":601.5999603271484,"wires":[["9fd5410f.bc02b"]]},{"id":"8b89419f.63ec38","type":"template","z":"f1a83e61.8753a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    \n    <head></head>\n    <body>\n        <h1>La valeur du capteur est : {{payload.1.payload}}</h1>\n    </body>\n    \n</html>","output":"str","x":845.5000610351562,"y":630,"wires":[["a0b83270.12179","45ef03a5.55472c"]]},{"id":"a0b83270.12179","type":"debug","z":"f1a83e61.8753a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1039.5,"y":582.4000244140625,"wires":[]},{"id":"45ef03a5.55472c","type":"http response","z":"f1a83e61.8753a","name":"","statusCode":"","headers":{},"x":1027.5,"y":659.8000030517578,"wires":[]},{"id":"ec52b6dc.f2a908","type":"http in","z":"f1a83e61.8753a","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":98.5,"y":674.9999847412109,"wires":[["16b79d18.e89a2b"]]},{"id":"16b79d18.e89a2b","type":"function","z":"f1a83e61.8753a","name":"","func":"msg.parts=2;\nmsg.topic=\"2\";\nmsg.complete=true;\nreturn msg;","outputs":1,"noerr":0,"x":311.20001220703125,"y":674.7999877929688,"wires":[["be2c4e17.694018"]]},{"id":"9fd5410f.bc02b","type":"join","z":"f1a83e61.8753a","name":"","mode":"custom","build":"object","property":"","propertyType":"full","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":672.9000244140625,"y":631.5999755859375,"wires":[["8b89419f.63ec38"]]},{"id":"be2c4e17.694018","type":"json","z":"f1a83e61.8753a","name":"","property":"payload","action":"","pretty":false,"x":477.20001220703125,"y":666.7999877929688,"wires":[["9fd5410f.bc02b"]]},{"id":"1473a722.2582b1","type":"switch","z":"f1a83e61.8753a","name":"Threshold","property":"value","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":487.20001220703125,"y":526.2000122070312,"wires":[["4219ac63.fb734c"]]},{"id":"4219ac63.fb734c","type":"function","z":"f1a83e61.8753a","name":"write email","func":"msg = {\n    payload : \"The camera can't see!\",\n    topic : \"Frameplus camera alert\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":664.2000274658203,"y":526.0000152587891,"wires":[["9cbfff61.97f278"]]},{"id":"9cbfff61.97f278","type":"e-mail","z":"f1a83e61.8753a","server":"smtp.gmail.com","port":"465","secure":true,"name":"ocs.frameplus@gmail.com","dname":"Send alert email","x":868.2000274658203,"y":525.4000396728516,"wires":[]},{"id":"8d4dd308.12c6c8","type":"debug","z":"f1a83e61.8753a","name":"Light Sensor Value","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"value","x":515.5,"y":430.40003967285156,"wires":[]},{"id":"d5c19b77.da70c","type":"board-config","z":"","board":"GrovePi"}]