flows_node_red/play_audio.json
[{"id":"403ba351.03c96c","type":"tab","label":"Play sound file","disabled":false,"info":""},{"id":"fb8d5706.a42868","type":"tab","label":"Play sound file","disabled":false,"info":""},{"id":"2e4d6532.92648a","type":"debug","z":"403ba351.03c96c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","x":450,"y":85,"wires":[]},{"id":"58942101.47472","type":"http in","z":"403ba351.03c96c","name":"","url":"/play_sound","method":"post","upload":true,"swaggerDoc":"","x":209,"y":313,"wires":[["2e4d6532.92648a","15405cc8.1d06b3","f717710a.17116"]]},{"id":"15405cc8.1d06b3","type":"change","z":"403ba351.03c96c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":459,"y":313,"wires":[["189c14ab.7802eb"]]},{"id":"189c14ab.7802eb","type":"file","z":"403ba351.03c96c","name":"","filename":"/home/pi/connected-frame/embedded/audio/recordings/audio_received.wav","appendNewline":false,"createDir":true,"overwriteFile":"true","x":639.5,"y":384,"wires":[["b6ac4177.2973a"]]},{"id":"b6ac4177.2973a","type":"exec","z":"403ba351.03c96c","command":"aplay -D bluealsa:DEV=78:44:05:DA:56:65 /home/pi/connected-frame/embedded/audio/recordings/audio_received.wav","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":766.5,"y":491.5,"wires":[[],["9a228f43.be06b"],[]]},{"id":"f3fb711e.8b4f","type":"debug","z":"fb8d5706.a42868","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"req.files","x":488,"y":169,"wires":[]},{"id":"16f2fac5.6926b5","type":"http in","z":"fb8d5706.a42868","name":"","url":"/play_sound","method":"post","upload":true,"swaggerDoc":"","x":209,"y":313,"wires":[["f3fb711e.8b4f","61675909.7bd948"]]},{"id":"61675909.7bd948","type":"change","z":"fb8d5706.a42868","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":459,"y":313,"wires":[["75ca5805.49b5d8"]]},{"id":"75ca5805.49b5d8","type":"file","z":"fb8d5706.a42868","name":"","filename":"to_read.wav","appendNewline":false,"createDir":false,"overwriteFile":"true","x":668.5,"y":312,"wires":[["e11831eb.895d2"]]},{"id":"e11831eb.895d2","type":"exec","z":"fb8d5706.a42868","command":"aplay to_read.wav","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":757.5,"y":449.5,"wires":[[],[],[]]},{"id":"9a228f43.be06b","type":"debug","z":"403ba351.03c96c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":1241.750015258789,"y":598.2500066757202,"wires":[]},{"id":"3e60eebf.ec2c82","type":"http response","z":"403ba351.03c96c","name":"Send Response http","statusCode":"","headers":{"content-type":"text/plain"},"x":686.7500076293945,"y":225.00000381469727,"wires":[]},{"id":"f717710a.17116","type":"function","z":"403ba351.03c96c","name":"response ok","func":"msg.payload = \"ok\"\nreturn msg;","outputs":1,"noerr":0,"x":465.00000762939453,"y":224.50000381469727,"wires":[["3e60eebf.ec2c82"]]}]